<div>
  <h1>Log In</h1>
  <%= form_with url: login_path do %>
    <div class="mb-3">
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <div class="mb-3">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag "Log In" %>
    </div>
  <% end %>

</div>
