<article id="<%= dom_id product %>" class="mt-5 flex">
  <%# Show image %>
  <% if product.images.attached? %>
    <%= image_tag product.images.first, alt: product.name, class: 'flex-none w-32 h-32 object-cover' %>
  <% else %>
    <%= image_tag 'placeholder-image.png', alt: 'No image available', class: 'flex-none w-32 h-32 object-cover' %>
  <% end %>

  <%# Product Info %>
  <div class="flex-initial p-5">
    <p>
      <strong>Name:</strong>
      <%= product.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= product.description %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= product.price %>
    </p>
    <%# Conditionally show the 'show this product' button %>
    <% if local_assigns[:show_full] %>
      <div class="mt-1.5">
        <%= link_to "Edit this product", edit_product_path(@product), class: "btn" %> 
        <%= button_to "Destroy this product", @product, method: :delete, class: "btn", form_class: "inline-block" %>
      </div>
    <% else %>
      <p>
        <%= link_to "Show this product", product, class: "btn" %>
      </p>
    <% end %>
  </div>

</article>
