<!DOCTYPE html>
<html>
  <head>
    <title>WebStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Products', root_path, class: "link" %></li>
        <% if logged_in? %>
          <% if current_user.merchant? %>
            <li><%= link_to 'New Product', new_product_path, class: "link" %></li>
          <% end %>
          <li>Logged in as <u><%= current_user.email %></u></li>
          <li><%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: "link" %></li>
        <% else %>
          <li><%= link_to 'Login', login_path, class: "link" %></li>
          <li><%= link_to 'Sign Up', signup_path, class: "link" %></li>
        <% end %>
      </ul>
    </nav>
    <main class="container mt-10">
      <% if notice %>
        <p class="text-green-500 mb-5"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="text-red-500 mb-5"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
